

.info-card{
    background: #040404d2;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    padding: 0;
    width: 600px;
    backdrop-filter: blur(5.4px); 
    height: 170px;
    text-align: left;
    position: relative;
    border: 1px solid #ff0000;
    font-family: 'QuickSand', Arial, sans-serif; 
}

